.container {
  width: 1200px;
  height: 1368px;
}

.title {
  /* font-size: 24px;
  margin-bottom: 20px; */
}

.filters {
  padding-top: 84px;
  padding-bottom: 56px;
  width: 924px;
  height: 68px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.filters select,
.filters input {
  width: 200px; /* Зробіть відповідно до макета */
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);

  border-radius: 12px;
  width: 204px;
  height: 44px;
  background: var(--inputs);
}

.searchBtn {
  width: 120px;
  height: 40px;
  font-size: 16px;
}

.carlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.carcard {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.carimg {
  width: 100%;
  border-radius: 10px;
}

.btn {
  display: block;
  text-decoration: none;
  background: blue;
  color: white;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

.loadMore {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
}
