.detailsCar {
  width: 488px;
  height: 180px;
}

.titleWrapper {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
  border-color: aqua;
  margin-right: 16px;
}

.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  border-color: bisque;
}

.address {
  display: flex;
  margin-bottom: 16px;
}
